<h1>Save new link </h1>
<form action = "/links" method = "POST" >
Title: <input type = 'text', name = 'title'>
Url: <input type = 'text', name = 'url' >
Tags: <input type = 'text', name = 'tags'>
<input type =  'submit', value = 'submit'>
</form>
